fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic>=2.0.0
pydantic-settings
redis
crewai
langchain
langchain-groq
langchain-google-genai
python-dotenv
boto3
pdfplumber
PyMuPDF
pint
celery
slowapi
alembic
streamlit
pydantic[email]
google-antigravity>=0.1.0
python-multipart
passlib[bcrypt]
PyJWT
google-generativeai
